<!DOCTYPE HTML>
<html th:fragment="layout(title, main, backLink, pageCategory)" lang="en"
      class="govuk-template govuk-template--rebranded no-js"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="|#{service.name} - ${title}|"/>
  <noscript th:if="${shouldRefresh}">
    <meta http-equiv="refresh" content="10">
  </noscript>
  <meta th:if="${shouldRefresh}" id="meta-refresh"
        data-module="page-refresh-on-submission-status">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta th:if="${submissionId}" id="submissionId" name="submissionId" th:content="${submissionId}">
  <meta th:if="${claimId}" id="claimId" name="claimId"  th:content="${claimId}">
  <link rel="manifest" th:href="@{/webjars/govuk-frontend/dist/govuk/assets/rebrand/manifest.json}" crossorigin="use-credentials">
  <link th:href="@{/webjars/govuk-frontend/dist/govuk/govuk-frontend.min.css}" rel="stylesheet"/>
  <link th:href="@{/webjars/ministryofjustice__frontend/moj/moj-frontend.min.css}"
        rel="stylesheet"/>
  <link th:href="@{/webjars/accessible-autocomplete/dist/accessible-autocomplete.min.css}" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/stylesheets/sabc.css}">
  <link rel="stylesheet" th:href="@{/stylesheets/upload.css}">
  <link rel="icon" th:href="@{/webjars/govuk-frontend/dist/govuk/assets/images/favicon.ico}" sizes="any">
  <link rel="icon" th:href="@{/webjars/govuk-frontend/dist/govuk/assets/images/favicon.svg}" type="image/svg+xml">
</head>
<body class="govuk-template__body">
<header th:replace="~{fragments/header :: header(${pageCategory})}"/>

<div class="govuk-width-container">
  <div id="govuk-back-link-container" data-module="laa-hide-on-print-button">
    <th:block th:replace="${backLink}">
      Default back link (this should be replaced)
    </th:block>
  </div>
  <main th:replace="${main}">
    <p>Default content (this should be replaced)</p>
  </main>
</div>
<footer th:replace="~{fragments/footer :: footer}"/>
<th:block th:insert="~{fragments/page-scripts :: script}" />
</body>
</html>