.sabc-govuk-table__cell__bold-bottom{
  border-bottom: 1.5px solid #000 !important;
}

.sabc-container__align_right {
  display: flex;
  justify-content: flex-end; /* push items to the right */
  align-items: center;       /* optional: vertical alignment */
  gap: 12px;                 /* spacing between the two elements */
}

.govuk-extension__background_white{
  background-color: white;
}

.app-sort-link {
  display: inline-flex;
  align-items: flex-start !important;
  text-decoration: none;
  gap: 4px;
}

/* Stop the sort arrow shrinking when label text fills the available space */
.app-sort-link__icon {
  flex-shrink: 0;
  padding: 0.1rem;
}

.govuk-table__header .govuk-link.app-sort-link:hover,
.govuk-table__header .govuk-link.app-sort-link:active {
  color: inherit;
}

.govuk-notification-banner--success:focus {
  outline: none;
}

.no-js .requires-js {
  display: none;
}


/* Adapted from https://design.homeoffice.gov.uk/design-system/components?name=Loading%20spinner */
.loading-spinner {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border-width: 12px;
  border-style: solid;
  border-color: #1d70b8 #cecece #cecece;
  border-image: initial;
  border-radius: 50%;
  animation: 2s linear 0s infinite normal none running spin;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}