<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<script type="module" th:src="@{/webjars/govuk-frontend/dist/govuk/govuk-frontend.min.js}"></script>
<script type="module" th:src="@{/webjars/ministryofjustice__frontend/moj/moj-frontend.min.js}"></script>
<script type="module" th:src="@{/webjars/accessible-autocomplete/dist/accessible-autocomplete.min.js}"></script>
<script type="module" th:src="@{/javascripts/enableJs.js}"></script>
<script type="module" th:src="@{/javascripts/initFrontend.js}"></script>
<script type="module" th:src="@{/javascripts/printButtonV2.js}"></script>
<script type="module" th:src="@{/javascripts/enhanceDropdowns.js}"></script>
<script type="module" th:src="@{/javascripts/pageRefresher.js}"></script>
</body>
</html>