<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ main-layout :: layout(#{landing.heading},~{::main},~{}, 'landing')}">
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl" th:text="#{landing.heading}"/>
      <p class="govuk-body" th:text="#{landing.intro.line1}"/>
      <p class="govuk-body" th:text="#{landing.intro.line2}"/>
      <th:block th:with="overrideMessage=${@environment.getProperty('app.landing.deadline-override-message')}">
        <p class="govuk-body govuk-!-margin-bottom-6"
           th:if="${overrideMessage != null and !#strings.isEmpty(overrideMessage)}"
           th:text="${overrideMessage}"/>
        <p class="govuk-body govuk-!-margin-bottom-6"
           th:unless="${overrideMessage != null and !#strings.isEmpty(overrideMessage)}"
           th:text="#{landing.intro.line3}"/>
      </th:block>

      <h2 class="govuk-heading-l" th:text="#{landing.beforeStart.heading}"/>
      <p class="govuk-body" th:text="#{landing.beforeStart.files.one(${@environment.getProperty('app.upload-max-file-size')})}"></p>
      <p class="govuk-body" th:utext="#{landing.beforeStart.files.two(${laaBulkUploadSpreadsheetLink}, ${laaBulkUploadGuidanceDocumentsLink})}"></p>
      <p class="govuk-body" th:utext="#{landing.beforeStart.files.three(${laaBulkUploadGuidanceLink})}"></p>
      <a class="govuk-button govuk-button--start"
         th:href="@{/upload}"
         role="button"
         data-module="govuk-button">
        <span th:text="#{landing.start.button}">Start now</span>
        <svg class="govuk-button__start-icon"
             xmlns="http://www.w3.org/2000/svg"
             width="17.5"
             height="19"
             viewBox="0 0 33 40"
             aria-hidden="true"
             focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
    </div>
  </div>
</main>
</html>
