<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ main-layout :: layout(#{bulkImport.heading}, ~{::main},
       ~{},~{})}">
<main class="govuk-main-wrapper" id="main-content">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <!--/*@thymesVar id="fileUploadForm" type="uk.gov.justice.laa.bulkclaim.dto.FileUploadForm"*/-->
      <form class="form" th:action="@{/upload}" method="post"
            enctype="multipart/form-data" th:object="${fileUploadForm}">

        <div th:replace="~{fragments/error-components :: error-summary}"/>

        <h1 class="govuk-heading-xl" th:text="#{bulkImport.heading}"/>
        <p class="govuk-body"
           th:text="#{bulkImport.fileUploadAdvise(${@environment.getProperty('app.upload-max-file-size')})}"/>
        <p class="govuk-body govuk-!-margin-bottom-6" th:text="#{bulkImport.nextStep}"/>

        <div class="govuk-form-group"
             th:classappend="${#fields.hasErrors('file')} ? ' govuk-form-group--error'">
          <label class="govuk-label govuk-!-font-weight-bold" for="file-input"
                 th:text="#{bulkImport.upload.label}"/>
          <p th:replace="~{ fragments/error-components :: error-messages('file')}"/>
          <div
              class="govuk-drop-zone"
              data-module="govuk-file-upload">
            <input class="govuk-file-upload" id="file-input" type="file" th:field="*{file}">
          </div>
        </div>

        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button"
                th:text="#{bulkImport.primaryButton}"/>

      </form>
      <div th:if="${isNilSubmissionEnabled}">
      <h2 class="govuk-heading-l" th:text="#{nilSubmission.heading}"/>
      <p class="govuk-body"
         th:text="#{nilSubmission.leadParagraph}"/>
      <a class="govuk-button govuk-button--secondary govuk-!-margin-top-2"
         th:href="@{/nil-submission/office}" th:text=" #{nilSubmission.button}"></a>
      </div>
    </div>
  </div>

</main>
</html>