<th:block th:fragment="old-claim-details">
  <!--/*@thymesVar id="submissionViewQuery" type="uk.gov.justice.laa.bulkclaim.dto.submission.view.SubmissionViewQuery"*/-->
  <!--/*@thymesVar id="SubmissionViewSortField" type="uk.gov.justice.laa.bulkclaim.dto.submission.view.SubmissionViewSortField"*/-->

  <!--Claim details information-->
  <th:block th:if="${submissionViewQuery.navTab == claimDetailsTab}">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m" id="messages"
          th:text="#{submission.summary.claims.caption}"></h2>

      <th:block th:if="${claimDetails == null or claimDetails.submissionClaims.isEmpty()}">
        <p class="govuk-body" th:text="#{submission.summary.claims.none}"></p>
      </th:block>

      <div class="moj-scrollable-pane"
           th:if="${claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
        <div id="claims-table"></div>
        <table class="govuk-table"
               th:with="area=${submissionSummary.areaOfLaw != null ? #strings.toLowerCase(submissionSummary.areaOfLaw) : ''},
                        isCrime=${area.contains('crime lower')},
                        isCivil=${area.contains('legal help')},
                        isMediation=${area.contains('mediation')}">

          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden"
                   th:text="#{submission.summary.claims.caption}"></caption>

          <thead class="govuk-table__head" th:if="${isCrime}">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"
                th:text="#{submission.summary.claims.table.claim}"></th>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_SURNAME}, 'submission.summary.claims.table.clientSurname')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_FORENAME}, 'submission.summary.claims.table.clientInitial')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.UNIQUE_FILE_NUMBER}, 'submission.summary.claims.table.ufn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.FEE_CODE}, 'submission.summary.claims.table.feeCode')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CASE_CONCLUDED_DATE}, 'submission.summary.claims.table.dateWorkConcluded')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.TOTAL_AMOUNT}, 'submission.summary.claims.table.calculatedValue')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.ESCAPE_CASE_FLAG}, 'submission.summary.claims.table.escapeCase')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.TOTAL_WARNINGS}, 'submission.summary.claims.table.messages')}"></th:block>
          </tr>
          </thead>

          <thead class="govuk-table__head" th:if="${isCivil}">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"
                th:text="#{submission.summary.claims.table.claim}"></th>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_SURNAME}, 'submission.summary.claims.table.clientSurname')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_FORENAME}, 'submission.summary.claims.table.clientForename')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.UNIQUE_FILE_NUMBER}, 'submission.summary.claims.table.ufn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.UNIQUE_CLIENT_NUMBER}, 'submission.summary.claims.table.ucn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.FEE_CODE}, 'submission.summary.claims.table.feeCode')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.TOTAL_AMOUNT}, 'submission.summary.claims.table.calculatedValue')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.ESCAPE_CASE_FLAG}, 'submission.summary.claims.table.escapeCase')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.TOTAL_WARNINGS}, 'submission.summary.claims.table.messages')}"></th:block>
          </tr>
          </thead>

          <thead class="govuk-table__head" th:if="${isMediation}">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"
                th:text="#{submission.summary.claims.table.claim}"></th>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_SURNAME}, 'submission.summary.claims.table.client1Surname')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_FORENAME}, 'submission.summary.claims.table.client1Forename')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.UNIQUE_CLIENT_NUMBER}, 'submission.summary.claims.table.client1Ucn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_2_SURNAME}, 'submission.summary.claims.table.client2Surname')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_2_FORENAME}, 'submission.summary.claims.table.client2Forename')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_2_UCN}, 'submission.summary.claims.table.client2Ucn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.FEE_CODE}, 'submission.summary.claims.table.feeCode')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.TOTAL_AMOUNT}, 'submission.summary.claims.table.calculatedValue')}"></th:block>
          </tr>
          </thead>

          <tbody class="govuk-table__body"
                 th:if="${isCrime and claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
          <tr class="govuk-table__row"
              th:each="claim, idx : ${claimDetails.submissionClaims}">
            <td class="govuk-table__cell">
              <th:block
                  th:replace="~{fragments/submission-details/claim-row-detail :: claim-row-detail(claimHref=@{/submission/claim/{id}(id=${claim.id}, page=${submissionViewQuery.page})}, status=${claim.status})}"></th:block>
            </td>
            <td class="govuk-table__cell"
                th:text="${claim.clientSurname ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.clientForename != null ? #strings.substring(claim.clientForename, 0, 1) : '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.ufn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.feeCode ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.concludedOrClaimedDate != null ? #temporals.format(claim.concludedOrClaimedDate, 'dd MMM yyyy') : '-'}"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"
                th:text="${claim.costsDetails != null && claim.costsDetails.claimValue != null ? @currencyUtil.toString(claim.costsDetails.claimValue) : '-'}"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--pink"
                      th:if="${claim.escapeCase}"
                      th:text="#{submission.summary.claims.escapeCase.yes}"></strong>
              <span th:if="${claim.escapeCase == null}"
                    th:text="'NA'"></span>
              <span th:if="${claim.escapeCase != null and !claim.escapeCase}"
                    th:text="#{submission.summary.claims.escapeCase.no}"></span>
            </td>
            <td class="govuk-table__cell">
              <a class="govuk-link"
                 th:if="${claim.totalMessages > 0}"
                 th:href="@{/submission/claim/{id}(id=${claim.id}, page=${submissionViewQuery.page})}"
                 th:text="#{submission.summary.claims.messages.count(${claim.totalMessages})}"></a>
            </td>
          </tr>
          </tbody>

          <tbody class="govuk-table__body"
                 th:if="${isCivil and claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
          <tr class="govuk-table__row"
              th:each="claim, idx : ${claimDetails.submissionClaims}">
            <td class="govuk-table__cell">
              <th:block
                  th:replace="~{fragments/submission-details/claim-row-detail :: claim-row-detail(claimHref=@{/submission/claim/{id}(id=${claim.id}, page=${submissionViewQuery.page}, navTab=${claimDetailsTab})}, status=${claim.status})}"></th:block>
            </td>
            <td class="govuk-table__cell"
                th:text="${claim.clientSurname ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.clientForename ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.ufn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.ucn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.feeCode ?: '-'}"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"
                th:text="${claim.costsDetails != null && claim.costsDetails.claimValue != null ? @currencyUtil.toString(claim.costsDetails.claimValue) : '-'}"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--pink"
                      th:if="${claim.escapeCase}"
                      th:text="#{submission.summary.claims.escapeCase.yes}"></strong>
              <span th:if="${claim.escapeCase == null}"
                    th:text="'-'"></span>
              <span th:if="${claim.escapeCase != null and !claim.escapeCase}"
                    th:text="#{submission.summary.claims.escapeCase.no}"></span>
            </td>
            <td class="govuk-table__cell">
              <a class="govuk-link"
                 th:if="${claim.totalMessages > 0}"
                 th:href="@{/submission/claim/{id}(id=${claim.id}, page=${submissionViewQuery.page}, navTab=${claimDetailsTab})}"
                 th:text="#{submission.summary.claims.messages.count(${claim.totalMessages})}"></a>
            </td>
          </tr>
          </tbody>

          <tbody class="govuk-table__body"
                 th:if="${isMediation and claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
          <tr class="govuk-table__row"
              th:each="claim, idx : ${claimDetails.submissionClaims}">
            <td class="govuk-table__cell">
              <th:block
                  th:replace="~{fragments/submission-details/claim-row-detail :: claim-row-detail(claimHref=@{/submission/claim/{id}(id=${claim.id}, page=${submissionViewQuery.page})}, status=${claim.status})}"></th:block>
            </td>
            <td class="govuk-table__cell"
                th:text="${claim.clientSurname ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.clientForename ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.ucn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.client2Surname ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.client2Forename ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.client2Ucn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.feeCode ?: '-'}"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"
                th:text="${claim.costsDetails != null && claim.costsDetails.claimValue != null ? @currencyUtil.toString(claim.costsDetails.claimValue) : '-'}"></td>
          </tr>
          </tbody>


        </table>
      </div>
      <th:block th:if="${claimDetails != null}"
                th:insert="~{fragments/pagination :: pagination(page=${claimDetails.pagination}, links=${claimDetailsPaginationLinks})}">
      </th:block>
    </div>
  </th:block>
</th:block>


<th:block th:fragment="claim-details">
  <!--/*@thymesVar id="claim" type="uk.gov.justice.laa.bulkclaim.dto.submission.claim.SubmissionClaimRow"*/-->
  <!--/*@thymesVar id="submissionViewQuery" type="uk.gov.justice.laa.bulkclaim.dto.submission.view.SubmissionViewQuery"*/-->
  <!--/*@thymesVar id="SubmissionViewSortField" type="uk.gov.justice.laa.bulkclaim.dto.submission.view.SubmissionViewSortField"*/-->

  <!--Claim details information-->
  <th:block th:if="${submissionViewQuery.navTab == claimDetailsTab}">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m" id="messages"
          th:text="#{submission.summary.claims.caption}"></h2>

      <th:block th:if="${claimDetails == null or claimDetails.submissionClaims.isEmpty()}">
        <p class="govuk-body" th:text="#{submission.summary.claims.none}"></p>
      </th:block>

      <th:block
          th:if="${claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
        <div id="claims-table"></div>
        <table class="govuk-table"
               th:with="area=${submissionSummary.areaOfLaw != null ? #strings.toLowerCase(submissionSummary.areaOfLaw) : ''},
                        isCrime=${area.contains('crime lower')},
                        isCivil=${area.contains('legal help')},
                        isMediation=${area.contains('mediation')}">

          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden"
                   th:text="#{submission.summary.claims.caption}"></caption>

          <thead class="govuk-table__head" th:if="${isCivil || isCrime}">
          <tr class="govuk-table__row">

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_NAME}, 'submission.summary.claims.table.clientName')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.UNIQUE_FILE_NUMBER}, 'submission.summary.claims.table.ufn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.FEE_CODE}, 'submission.summary.claims.table.feeCode')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.TOTAL_AMOUNT}, 'submission.summary.claims.table.initialCalculatedValue')}"></th:block>

            <th:block th:if="${showUpdatedCalculatedValueColumn}">
              <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.TOTAL_AMOUNT}, 'submission.summary.claims.table.updatedCalculatedValue')}"></th:block>
            </th:block>

            <th:block th:unless="${isCrime}" th:insert="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.UNIQUE_CLIENT_NUMBER}, 'submission.summary.claims.table.ucn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.ESCAPE_CASE_FLAG}, 'submission.summary.claims.table.escapeCase')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.STATUS}, 'submission.summary.claims.table.status')}"></th:block>
          </tr>
          </thead>

          <thead class="govuk-table__head" th:if="${isMediation}">
          <tr class="govuk-table__row">

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_NAME}, 'submission.summary.claims.table.client1Name')}"></th:block>

            <th:block th:insert="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.UNIQUE_CLIENT_NUMBER}, 'submission.summary.claims.table.client1Ucn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_2_NAME}, 'submission.summary.claims.table.client2Name')}"></th:block>

            <th:block th:insert="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.CLIENT_2_UCN}, 'submission.summary.claims.table.client2Ucn')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.FEE_CODE}, 'submission.summary.claims.table.feeCode')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.TOTAL_AMOUNT}, 'submission.summary.claims.table.initialCalculatedValue')}"></th:block>

            <th:block th:if="${showUpdatedCalculatedValueColumn}">
              <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.TOTAL_AMOUNT}, 'submission.summary.claims.table.updatedCalculatedValue')}"></th:block>
            </th:block>
            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.ESCAPE_CASE_FLAG}, 'submission.summary.claims.table.escapeCase')}"></th:block>

            <th:block th:replace="~{fragments/sortable-header :: sortableHeader(
                ${submissionViewQuery}, ${SubmissionViewSortField.STATUS}, 'submission.summary.claims.table.status')}"></th:block>
          </tr>
          </thead>

          <tbody class="govuk-table__body"
                 th:if="${(isCivil || isCrime) and claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
          <tr class="govuk-table__row"
              th:each="claim, idx : ${claimDetails.submissionClaims}">
            <td class="govuk-table__cell">
              <a class="govuk-link--no-visited-state"
                 th:href="@{/submission/claim/{id}(id=${claim.id}, page=${submissionViewQuery.page}, navTab=${claimDetailsTab})}"
                 th:text="|${claim.clientForename ?: '-'} ${claim.clientSurname ?: '-'}|"></a>
            </td>
            <td class="govuk-table__cell"
                th:text="${claim.ufn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.feeCode ?: '-'}"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"
                th:text="${@currencyUtil.toString(claim.calculatedValue) }"></td>
            <th:block th:if="${showUpdatedCalculatedValueColumn}">
              <td class="govuk-table__cell govuk-table__cell--numeric"
                  th:text="${@currencyUtil.toString(claim.updatedCalculatedValue)}"></td>
            </th:block>
            <td class="govuk-table__cell" th:unless="${isCrime}"
                th:text="${claim.ucn ?: '-'}"></td>
            <td class="govuk-table__cell">
              <span th:if="${claim.escapeCase}"
                    th:text="#{submission.summary.claims.escapeCase.yes}"></span>
              <span th:if="${claim.escapeCase == null or !claim.escapeCase}"
                    th:text="#{submission.summary.claims.escapeCase.no}"></span>
            </td>
            <td class="govuk-table__cell">
              <strong th:if="${claim?.status == 'Accepted'}" class="govuk-tag govuk-tag--green"
                      th:text="${claim.status ?: '-'}"></strong>
              <strong th:if="${claim?.status == 'Assessed'}" class="govuk-tag govuk-tag--blue"
                      th:text="${claim.status ?: '-'}"></strong>
              <strong th:if="${claim?.status == 'Ammended'}" class="govuk-tag govuk-tag--yellow"
                      th:text="${claim.status ?: '-'}"></strong>
              <strong th:if="${claim?.status == 'Voided'}" class="govuk-tag govuk-tag--red"
                      th:text="${claim.status ?: '-'}"></strong>
            </td>
          </tr>
          </tbody>

          <tbody class="govuk-table__body"
                 th:if="${isMediation and claimDetails != null and !claimDetails.submissionClaims.isEmpty()}">
          <tr class="govuk-table__row"
              th:each="claim, idx : ${claimDetails.submissionClaims}">
            <td class="govuk-table__cell">
              <a class="govuk-link--no-visited-state"
                 th:href="@{/submission/claim/{id}(id=${claim.id}, page=${submissionViewQuery.page}, navTab=${claimDetailsTab})}"
                 th:text="|${claim.clientForename ?: '-'} ${claim.clientSurname ?: '-'}|"></a>
            </td>
            <td class="govuk-table__cell"
                th:text="${claim.ucn ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="|${claim.client2Forename ?: '-'} ${claim.client2Surname ?: '-'}|">
            </td>
            <td class="govuk-table__cell"
                th:text="${claim.client2Ucn() ?: '-'}"></td>
            <td class="govuk-table__cell"
                th:text="${claim.feeCode ?: '-'}"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"
                th:text="${@currencyUtil.toString(claim.calculatedValue) }"></td>
            <th:block th:if="${showUpdatedCalculatedValueColumn}">
              <td class="govuk-table__cell govuk-table__cell--numeric"
                  th:text="${@currencyUtil.toString(claim.updatedCalculatedValue)}"></td>
            </th:block>
            <td class="govuk-table__cell">
              <span th:if="${claim.escapeCase}"
                    th:text="#{submission.summary.claims.escapeCase.yes}"></span>
              <span th:if="${claim.escapeCase == null or !claim.escapeCase}"
                    th:text="#{submission.summary.claims.escapeCase.no}"></span>
            </td>
            <td class="govuk-table__cell">
              <strong th:if="${claim?.status == 'Accepted'}" class="govuk-tag govuk-tag--green"
                      th:text="${claim.status ?: '-'}"></strong>
              <strong th:if="${claim?.status == 'Assessed'}" class="govuk-tag govuk-tag--blue"
                      th:text="${claim.status ?: '-'}"></strong>
              <strong th:if="${claim?.status == 'Ammended'}" class="govuk-tag govuk-tag--yellow"
                      th:text="${claim.status ?: '-'}"></strong>
              <strong th:if="${claim?.status == 'Voided'}" class="govuk-tag govuk-tag--red"
                      th:text="${claim.status ?: '-'}"></strong>
            </td>
          </tr>
          </tbody>


        </table>
      </th:block>
      <th:block th:if="${claimDetails != null}"
                th:insert="~{fragments/pagination :: pagination(page=${claimDetails.pagination}, links=${claimDetailsPaginationLinks})}">
      </th:block>
    </div>
  </th:block>
</th:block>